<% if @taxonomy.root.children.present? %>
<div class="card-body p-0 bg-light"
     data-controller="sortable-tree"
     data-sortable-response-kind-value="turbo_stream">

  <div data-sortable-tree-parent-id-value="<%= @taxonomy.root.id %>">
    <% @taxonomy.root.children.each do |root_children| %>
      <%= build_sortable_tree(@taxonomy, root_children) %>
    <% end %>
  </div>
</div>
<% else %>
  <div class="card-body">
    <div class="alert alert-info text-center m-5">
      <%= raw I18n.t('spree.admin.taxonomies.no_taxons', taxonomy: @taxonomy.root.name ) %>
    </div>
  </div>
<% end %>
