<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item"
          id="page-live-preview"
          src="<%= spree_storefront_resource_url(@cms_page, locale: cms_page_locale(@cms_page)) + "?no_cache=#{rand(1...10000)}" %>"
          sandbox="allow-same-origin allow-forms allow-popups allow-scripts allow-modals">
  </iframe>
</div>
