#nav-header {
  height: var(--nav-bar-height);
}

content-header {
  background-color: var(--sa-navbar-bg);
  box-shadow: var(--sa-navbar-box-shadow);
  z-index: 1040;
  height: 60px;
  width: 100%;
  overflow-y: scroll;
  @extend .border-bottom;

  h4>a {
    text-decoration: none;
    color: var(--bs-primary);
  }

  #content-nav-inner-container {
    min-width: max-content;
  }
}

@include media-breakpoint-up(lg) {
  content-header {
    width: 75%;
  }
}

@include media-breakpoint-up(xl) {
  content-header {
    width: 83.3333%;
  }
}
