// Bootstrap SCSS Vars ### START ###
$table-cell-padding-x: .5rem;
$table-cell-padding-y: .5rem;
$table-cell-vertical-align: middle;
$table-hover-bg-factor: .02;
$table-hover-color: inherit;
$badge-font-weight: 300;
$border-radius: 3px;
// Bootstrap SCSS Vars ### END ###

:root body.admin {

  ////////////
  // COLORS //
  ////////////
  --bs-white-rgb: 255, 255, 255;
  --bs-dark-rgb: 33, 37, 41;
  --bs-black-rgb: 0, 0, 0;

  // BODY
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 246, 246, 247;



  // PRIMARY
  --bs-primary-rgb: 0, 128, 96;
  --bs-primary-hover-rgb: 0, 110, 82;
  --bs-primary: rgb(var(--bs-primary-rgb));

  --bs-primary-btn-color-rgb: var(--bs-white-rgb);
  --bs-primary-btn-bg-rgb: var(--bs-primary-rgb);
  --bs-primary-btn-border-color-rgb: var(--bs-primary-rgb);

  --bs-primary-btn-hover-color-rgb: var(--bs-white-rgb);
  --bs-primary-btn-hover-bg-rgb: var(--bs-primary-hover-rgb);
  --bs-primary-btn-hover-border-color-rgb: var(--bs-primary-hover-rgb);

  // SECONDARY
  --bs-secondary-rgb: 108, 117, 125;
  --bs-secondary-hover-rgb: 92, 99, 106;
  --bs-secondary: rgb(var(--bs-secondary-rgb));

  // SUCCESS
  --bs-success-rgb: 25, 135, 84;
  --bs-success-hover-rgb: 21, 115, 71;
  --bs-success: rgb(var(--bs-success-rgb));

  // DANGER
  --bs-danger-rgb: 220, 53, 69;
  --bs-danger-hover-rgb: 187, 45, 59;
  --bs-danger: rgb(var(--bs-danger-rgb));

  // WARNING
  --bs-warning-rgb: 255, 193, 7;
  --bs-warning-hover-rgb: 255, 202, 44;
  --bs-warning: rgb(var(--bs-warning-rgb));

  // INFO
  --bs-info-rgb: 13, 202, 240;
  --bs-info-hover-rgb: 49, 210, 242;
  --bs-info: rgb(var(--bs-info-rgb));

  // LIGHT
  --bs-light-rgb: 241, 241, 241;
  --bs-light-hover-rgb: 249, 250, 251;
  --bs-light: rgb(var(--bs-light-rgb));

  // DARK
  --bs-dark-rgb: 33, 37, 41;
  --bs-dark-hover-rgb: 28, 31, 35;
  --bs-dark: rgb(var(--bs-dark-rgb));

  // Theming Override
  --bs-link-color: rgb(var(--bs-primary-rgb));
  --bs-link-hover-color: rgb(var(--bs-primary-hover-rgb));
  --bs-nav-pills-link-active-bg: var(--bs-primary);
  --bs-body-bg: rgb(var(--bs-body-bg-rgb));

  .btn-primary {
    --bs-btn-color: rgba(var(--bs-primary-btn-color-rgb));
    --bs-btn-bg: rgba(var(--bs-primary-btn-bg-rgb));
    --bs-btn-border-color: rgba(var(--bs-primary-btn-border-color-rgb));

    --bs-btn-hover-color: rgba(var(--bs-primary-btn-hover-color-rgb));
    --bs-btn-hover-bg: rgba(var(--bs-primary-btn-hover-bg-rgb));
    --bs-btn-hover-border-color: rgba(var(--bs-primary-hover-rgb));

    --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);

    --bs-btn-active-color: rgba(var(--bs-white-rgb));
    --bs-btn-active-bg: rgba(var(--bs-primary-hover-rgb));
    --bs-btn-active-border-color: rgba(var(--bs-primary-hover-rgb));

    --bs-btn-disabled-color:rgba(84, 84, 84);
    --bs-btn-disabled-bg: rgba(224, 224, 224);
    --bs-btn-disabled-border-color:var(--bs-btn-disabled-bg);
  }

  .btn-secondary {
    --bs-btn-color: rgba(var(--bs-white-rgb));
    --bs-btn-bg: rgba(var(--bs-secondary-rgb));
    --bs-btn-border-color: rgba(var(--bs-secondary-rgb));

    --bs-btn-hover-color: rgba(var(--bs-white-rgb));
    --bs-btn-hover-bg: rgba(var(--bs-secondary-hover-rgb));
    --bs-btn-hover-border-color: rgba(var(--bs-secondary-hover-rgb));

    --bs-btn-focus-shadow-rgb: var(--bs-secondary-rgb);

    --bs-btn-active-color: rgba(var(--bs-white-rgb));
    --bs-btn-active-bg: rgba(var(--bs-secondary-hover-rgb));
    --bs-btn-active-border-color: rgba(var(--bs-secondary-hover-rgb));

    --bs-btn-disabled-color: rgba(var(--bs-white-rgb));
    --bs-btn-disabled-bg: rgba(var(--bs-secondary-rgb));
    --bs-btn-disabled-border-color: rgba(var(--bs-secondary-rgb));
  }

  .btn-outline-secondary {
    --bs-btn-color: rgba(120,120,120);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: rgba(130,130,130);

    --bs-btn-hover-color: var(--bs-btn-border-color);
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: var(--bs-btn-border-color);

    --bs-btn-focus-shadow-rgb: var(--bs-secondary-rgb);

    --bs-btn-active-color: var(--bs-btn-border-color);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--bs-btn-border-color);

    --bs-btn-disabled-color: var(--bs-btn-border-color);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--bs-btn-border-color);
  }

  .btn-success {
    --bs-btn-color: rgba(var(--bs-white-rgb));
    --bs-btn-bg: rgba(var(--bs-success-rgb));
    --bs-btn-border-color: rgba(var(--bs-success-rgb));

    --bs-btn-hover-color: rgba(var(--bs-white-rgb));
    --bs-btn-hover-bg: rgba(var(--bs-success-hover-rgb));
    --bs-btn-hover-border-color: rgba(var(--bs-success-hover-rgb));

    --bs-btn-focus-shadow-rgb: var(--bs-success-rgb);

    --bs-btn-active-color: rgba(var(--bs-white-rgb));
    --bs-btn-active-bg: rgba(var(--bs-success-hover-rgb));
    --bs-btn-active-border-color: rgba(var(--bs-success-hover-rgb));

    --bs-btn-disabled-color: rgba(var(--bs-white-rgb));
    --bs-btn-disabled-bg: rgba(var(--bs-success-rgb));
    --bs-btn-disabled-border-color: rgba(var(--bs-success-rgb));
  }

  .btn-danger {
    --bs-btn-color: rgba(var(--bs-white-rgb));
    --bs-btn-bg: rgba(var(--bs-danger-rgb));
    --bs-btn-border-color: rgba(var(--bs-danger-rgb));

    --bs-btn-hover-color: rgba(var(--bs-white-rgb));
    --bs-btn-hover-bg: rgba(var(--bs-danger-hover-rgb));
    --bs-btn-hover-border-color: rgba(var(--bs-danger-hover-rgb));

    --bs-btn-focus-shadow-rgb: var(--bs-danger-rgb);

    --bs-btn-active-color: rgba(var(--bs-white-rgb));
    --bs-btn-active-bg: rgba(var(--bs-danger-hover-rgb));
    --bs-btn-active-border-color: rgba(var(--bs-danger-hover-rgb));

    --bs-btn-disabled-color: rgba(var(--bs-white-rgb));
    --bs-btn-disabled-bg: rgba(var(--bs-danger-rgb));
    --bs-btn-disabled-border-color: rgba(var(--bs-danger-rgb));
  }

  .btn-warning {
    --bs-btn-color: rgba(var(--bs-white-rgb));
    --bs-btn-bg: rgba(var(--bs-warning-rgb));
    --bs-btn-border-color: rgba(var(--bs-warning-rgb));

    --bs-btn-hover-color: rgba(var(--bs-white-rgb));
    --bs-btn-hover-bg: rgba(var(--bs-warning-hover-rgb));
    --bs-btn-hover-border-color: rgba(var(--bs-warning-hover-rgb));

    --bs-btn-focus-shadow-rgb: var(--bs-warning-rgb);

    --bs-btn-active-color: rgba(var(--bs-white-rgb));
    --bs-btn-active-bg: rgba(var(--bs-warning-hover-rgb));
    --bs-btn-active-border-color: rgba(var(--bs-warning-hover-rgb));

    --bs-btn-disabled-color: rgba(var(--bs-white-rgb));
    --bs-btn-disabled-bg: rgba(var(--bs-warning-rgb));
    --bs-btn-disabled-border-color: rgba(var(--bs-warning-rgb));
  }

  .btn-info {
    --bs-btn-color: rgba(var(--bs-white-rgb));
    --bs-btn-bg: rgba(var(--bs-info-rgb));
    --bs-btn-border-color: rgba(var(--bs-info-rgb));

    --bs-btn-hover-color: rgba(var(--bs-white-rgb));
    --bs-btn-hover-bg: rgba(var(--bs-info-hover-rgb));
    --bs-btn-hover-border-color: rgba(var(--bs-info-hover-rgb));

    --bs-btn-focus-shadow-rgb: var(--bs-info-rgb);

    --bs-btn-active-color: rgba(var(--bs-white-rgb));
    --bs-btn-active-bg: rgba(var(--bs-info-hover-rgb));
    --bs-btn-active-border-color: rgba(var(--bs-info-hover-rgb));

    --bs-btn-disabled-color: rgba(var(--bs-white-rgb));
    --bs-btn-disabled-bg: rgba(var(--bs-info-rgb));
    --bs-btn-disabled-border-color: rgba(var(--bs-info-rgb));
  }

  .btn-light {
    --bs-btn-color: rgba(var(--bs-dark-rgb));
    --bs-btn-bg: rgba(var(--bs-light-rgb));
    --bs-btn-border-color: rgba(var(--bs-light-rgb));

    --bs-btn-hover-color: rgba(var(--bs-dark-rgb));
    --bs-btn-hover-bg: rgba(var(--bs-light-hover-rgb));
    --bs-btn-hover-border-color: rgba(var(--bs-light-hover-rgb));

    --bs-btn-focus-shadow-rgb: var(--bs-light-rgb);

    --bs-btn-active-color: rgba(var(--bs-dark-rgb));
    --bs-btn-active-bg: rgba(var(--bs-light-hover-rgb));
    --bs-btn-active-border-color: rgba(var(--bs-light-hover-rgb));

    --bs-btn-disabled-color: rgba(var(--bs-dark-rgb));
    --bs-btn-disabled-bg: rgba(var(--bs-light-rgb));
    --bs-btn-disabled-border-color: rgba(var(--bs-light-rgb));
  }

  .btn-dark {
    --bs-btn-color: rgba(var(--bs-light-rgb));
    --bs-btn-bg: rgba(var(--bs-dark-rgb));
    --bs-btn-border-color: rgba(var(--bs-dark-rgb));

    --bs-btn-hover-color: rgba(var(--bs-light-rgb));
    --bs-btn-hover-bg: rgba(var(--bs-dark-hover-rgb));
    --bs-btn-hover-border-color: rgba(var(--bs-dark-hover-rgb));

    --bs-btn-focus-shadow-rgb: var(--bs-dark-rgb);

    --bs-btn-active-color: rgba(var(--bs-light-rgb));
    --bs-btn-active-bg: rgba(var(--bs-dark-hover-rgb));
    --bs-btn-active-border-color: rgba(var(--bs-dark-hover-rgb));

    --bs-btn-disabled-color: rgba(var(--bs-light-rgb));
    --bs-btn-disabled-bg: rgba(var(--bs-dark-rgb));
    --bs-btn-disabled-border-color: rgba(var(--bs-dark-rgb));
  }

  // Universal disabled on link or button element
  // All disabled buttons might as well look the same.
  .btn[disabled] {
    color: rgb(224, 224, 224);
    background-color: transparent;
    border-color: rgb(224, 224, 224);
    opacity: var(--bs-btn-disabled-opacity);
    pointer-events: none;
  }

  // Fix override not working
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: var(--bs-primary);
  }

  --nav-bar-height: 54px;
  --bs-modal-footer-gap: 0.5rem;
}



