<% content_for :modal_header do %>
  <h5 class="modal-title"><%= I18n.t('spree.admin.address.new_address') %></h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
<% end %>

<%= render partial: 'modal_content' %>
