////////////////
// BS BUTTONS //
////////////////
.btn-primary {
  @extend .rgb-hsl-primary;
  @extend .rgb-hsl-base-presets;

  --bs-btn-color:                 var(--hsla-color);
  --bs-btn-bg:                    var(--hsla-bg);
  --bs-btn-border-color:          var(--hsla-border-color);
  --bs-btn-hover-color:           var(--hsla-hover-color);
  --bs-btn-hover-bg:              var(--hsla-hover-bg);
  --bs-btn-hover-border-color:    var(--hsla-hover-border-color);
  --bs-btn-active-color:          var(--hsla-active-color);
  --bs-btn-active-bg:             var(--hsla-active-bg);
  --bs-btn-active-border-color:   var(--hsla-active-border-color);
  --bs-btn-disabled-color:        var(--hsla-disabled-color);
  --bs-btn-disabled-bg:           var(--hsla-disabled-bg);
  --bs-btn-disabled-border-color: var(--hsla-disabled-border-color);
}

.btn-secondary {
  @extend .rgb-hsl-secondary;
  @extend .rgb-hsl-base-presets;

  --bs-btn-color:                 var(--hsla-color);
  --bs-btn-bg:                    var(--hsla-bg);
  --bs-btn-border-color:          var(--hsla-border-color);
  --bs-btn-hover-color:           var(--hsla-hover-color);
  --bs-btn-hover-bg:              var(--hsla-hover-bg);
  --bs-btn-hover-border-color:    var(--hsla-hover-border-color);
  --bs-btn-active-color:          var(--hsla-active-color);
  --bs-btn-active-bg:             var(--hsla-active-bg);
  --bs-btn-active-border-color:   var(--hsla-active-border-color);
  --bs-btn-disabled-color:        var(--hsla-disabled-color);
  --bs-btn-disabled-bg:           var(--hsla-disabled-bg);
  --bs-btn-disabled-border-color: var(--hsla-disabled-border-color);
}

.btn-danger {
  @extend .rgb-hsl-danger;
  @extend .rgb-hsl-base-presets;

  --bs-btn-color:                 var(--hsla-color);
  --bs-btn-bg:                    var(--hsla-bg);
  --bs-btn-border-color:          var(--hsla-border-color);
  --bs-btn-hover-color:           var(--hsla-hover-color);
  --bs-btn-hover-bg:              var(--hsla-hover-bg);
  --bs-btn-hover-border-color:    var(--hsla-hover-border-color);
  --bs-btn-active-color:          var(--hsla-active-color);
  --bs-btn-active-bg:             var(--hsla-active-bg);
  --bs-btn-active-border-color:   var(--hsla-active-border-color);
  --bs-btn-disabled-color:        var(--hsla-disabled-color);
  --bs-btn-disabled-bg:           var(--hsla-disabled-bg);
  --bs-btn-disabled-border-color: var(--hsla-disabled-border-color);
}

.btn-closer {
  --bs-btn-color:                 var(--bs-gray-100);
  --bs-btn-bg:                    transparent;
  --bs-btn-border-color:          transparent;
  --bs-btn-hover-color:           var(--bs-gray-300);
  --bs-btn-hover-bg:              transparent;
  --bs-btn-hover-border-color:    transparent;
  --bs-btn-focus-shadow-rgb:      transparent;
  --bs-btn-active-color:          var(--bs-gray-300);
  --bs-btn-active-bg:             transparent;
  --bs-btn-active-border-color:   transparent;
  --bs-btn-disabled-color:        var(--bs-gray-500);
  --bs-btn-disabled-bg:           transparent;
  --bs-btn-disabled-border-color: transparent;
}
