.form-floating > label, .form-floating > span.or {
  opacity: 0.4;
}

.form-group {
  margin-bottom: 1rem;

  &.withError {
    label,
    .formError,
    .required {
      color: var(--bs-danger);
    }
  }
}

.input-group > .form-group {margin-bottom: 0;}

.form-select {
  min-width: 150px;
}

// Hide number toggle
// Chrome, Safari, Edge, Opera
input.hide-number-toggle::-webkit-outer-spin-button,
input.hide-number-toggle::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

// Firefox
input[type='number'] {
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
