<div class="card-body">
  <div class="form-floating">
    <%= select_tag("#{param_prefix}[preferred_country_id]", options_for_select(Spree::Country.pluck(:name, :id), promotion_rule.preferred_country_id), { class: 'form-select', data: { controller: 'ts--select' } }) %>
    <%= label_tag I18n.t('spree.admin.country_rule.label') %>
  </div>
</div>
