<sa-body>
  <div class="form-group form-floating">
    <%= select "#{param_prefix}", 'product_ids_string', options_from_collection_for_select(promotion_rule.products, :id, :name, promotion_rule.products.pluck(:id)), { include_hidden: false }, multiple: true,
                                    class: 'form-select',
                                    placeholder: I18n.t('spree.admin.order.search_products_by_name_or_sku'),
                                    data: {
                                            controller: 'ts--search',
                                            ts__search_uri_value: '/api/v2/platform/products',
                                            ts__search_fields_value: ['name', 'sku'],
                                            ts__search_ransack_value: ['search_by_product_name_or_sku_returning_eligible_variants_only']
                                          } %>

    <%= label_tag "#{param_prefix}_product_ids_string", I18n.t('spree.admin.product_rule.products') %>
  </div>

  <div class="form-floating">
    <%= select_tag("#{param_prefix}[preferred_match_policy]", options_for_select(Spree::Promotion::Rules::Product::MATCH_POLICIES.map{|s| [I18n.t("spree.admin.product_rule.match_#{s}"),s] }, promotion_rule.preferred_match_policy), { class: 'form-select' }) %>
    <%= label_tag I18n.t('spree.admin.product_rule.label') %>
  </div>
</sa-body>
