<sa-body>
  <div class="form-floating">
    <%= select "#{param_prefix}", 'user_ids_string', options_from_collection_for_select(promotion_rule.users, :id, :email, promotion_rule.users.pluck(:id)), { include_hidden: false }, multiple: true,
                                    class: 'form-select',
                                    placeholder: I18n.t('spree.admin.order.search_users_by_email'),
                                    data: {
                                            controller: 'ts--search',
                                            ts__search_debug_value: false,
                                            ts__search_uri_value: '/api/v2/platform/users',
                                            ts__search_txt_value: 'email',
                                            ts__search_fields_value: ['email'],
                                            ts__search_ransack_value: ['email_i_cont']
                                          } %>

    <%= label_tag I18n.t('spree.admin.user_rule.users') %>
  </div>
</sa-body>
