:root body.admin {
  /////////////////////////
  // BS RGB COLOR VALUES //
  /////////////////////////

  // Body
  --bs-body-color-rgb: 207, 207, 207;
  --bs-body-bg-rgb: 28, 33, 40;

  // Sub Colors, used for Cards
  --bs-sub-bg-rgb: 34, 39, 46;
  --bs-sub-border-rgb: 68, 76, 86;
  --bs-sub-color-rgb: 34, 39, 46;

  // Input
  --bs-input-bg-rgb: 28, 33, 40;
  --bs-input-border-rgb: 68, 76, 86;
  --bs-input-color-rgb: 255, 255, 255;
  --bs-input-focus-border-rgb: 83, 155, 245;


  /////////////
  // primary //
  /////////////
  --bs-primary-rgb: 83, 155, 245;
  .rgb-hsl-primary {
    // rgb(83, 155, 245)
    --label-r: 83;
    --label-g: 155;
    --label-b: 245;

    // hsl(213.3, 89%, 64.3%)
    --label-h: 213.3;
    --label-s: 89;
    --label-l: 64.3;
  }

  ///////////////
  // secondary //
  ///////////////
  --bs-secondary-rgb: 55, 62, 71;
  .rgb-hsl-secondary {
    // rgb(55, 62, 71)
    --label-r: 55;
    --label-g: 62;
    --label-b: 71;

    // hsl(213.8, 12.7%, 24.7%)
    --label-h: 213.8;
    --label-s: 12.7;
    --label-l: 24.7;
  }


  /////////////
  // success //
  /////////////
  --bs-success-rgb: 25, 135, 84;
  .rgb-hsl-success {
    // rgb(25, 135, 84)
    --label-r: 25;
    --label-g: 135;
    --label-b: 84;

    // hsl(152.2, 68.8%, 31.4%)
    --label-h: 152.2;
    --label-s: 68.8;
    --label-l: 31.4;
  }


  .rgb-hsl-base-presets {
    // Light Color Scheme
    --lightness-threshold: 0.7;
    --border-threshold: 0.16;
    --background-alpha: 0.5;
    --border-alpha: 0.5;

    --perceived-lightness: calc(((var(--label-r) * 0.2126) + (var(--label-g) * 0.7152) + (var(--label-b) * 0.0722)) / 255);
    --lightness-switch: max(0, min(calc((var(--perceived-lightness) - var(--lightness-threshold)) * -1000), 1));
    --lighten-by: calc(((var(--lightness-threshold) - var(--perceived-lightness)) * 100) * var(--lightness-switch));

    --hsla-color: hsl(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * .6%));
    --hsla-bg: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * .6%), calc(var(--background-alpha) / 10));
    --hsla-border-color: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * .6%), var(--border-alpha));

    --hsla-hover-color: hsl(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * .6%));
    --hsla-hover-bg: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * .6%), calc(var(--background-alpha) / 3));
    --hsla-hover-border-color: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * .6%), var(--border-alpha));

    --hsla-active-color: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * .65%));
    --hsla-active-bg: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * .6%), calc(var(--background-alpha) / 2));
    --hsla-active-border-color: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * .6%), var(--border-alpha));

    --hsla-disabled-color: hsl(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1.05%));
    --hsla-disabled-bg: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%), calc(var(--background-alpha) / 10));
    --hsla-disabled-border-color: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%), calc(var(--background-alpha) / 5));
  }


  /////////////////////////
  // BS RGB COLOR VALUES //
  /////////////////////////
  // Converting RGB values colors where appropriate
  --bs-border-color: rgba(var(--bs-secondary-rgb));
  --bs-border-color-translucent: rgba(var(--bs-black-rgb), 0.175);
  --bs-link-color: rgba(var(--bs-primary-rgb));
  --bs-link-hover-color: rgba(var(--bs-primary-rgb), .85);
}
