:root body.admin {
/////////////////////////
// BS RGB COLOR VALUES //
/////////////////////////
  --bs-brand-color-rgb: 250, 84, 0;
  --bs-brand-rgb: 0, 128, 96;
  --bs-primary-rgb: 0, 128, 96;
  --bs-primary-hover-rgb: 0, 110, 82;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-secondary-hover-rgb: 92, 99, 106;
  --bs-success-rgb: 174, 233, 209;
  --bs-success-hover-rgb: 21, 115, 71;
  --bs-info-rgb: 13, 202, 240;
  --bs-info-hover-rgb: 49, 210, 242;
  --bs-warning-rgb: 255, 215, 157;
  --bs-warning-hover-rgb: 255, 202, 44;
  --bs-danger-rgb: 220, 53, 69;
  --bs-danger-hover-rgb: 187, 45, 59;
  --bs-light-rgb: 241, 241, 241;
  --bs-light-hover-rgb: 249, 250, 251;
  --bs-dark-rgb: 33, 37, 41;
  --bs-dark-hover-rgb: 28, 31, 35;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 246, 246, 247;




////////////////////////
// SPREE ADMIN COLORS //
////////////////////////
  --sa-logo: rgba(var(--bs-brand-color-rgb));
  --sa-navbar-bg: rgba(var(--bs-body-bg-rgb));
  --sa-sidebar-bg: rgba(var(--bs-body-bg-rgb));


  .rgb-hsl-colorway { // Can be updated based on colors scheme settings
    color: hsl(0deg, 0%, calc(var(--lightness-switch) * 100%));
    background:   rgba(var(--label-r), var(--label-g), var(--label-b), var(--background-alpha));
    border-color: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%), var(--border-alpha));
  }

  .rgb-hsl-base-presets {
    // Light Color Scheme
    --lightness-threshold: 0.453;
    --background-alpha: 0.96;
    --border-alpha: max(0, min(calc((var(--perceived-lightness) - var(--border-threshold)) * 100), 1));

    --bs-badge-font-weight: 300;
    --perceived-lightness: calc(((var(--label-r) * 0.2126) + (var(--label-g) * 0.7152) + (var(--label-b) * 0.0722)) / 255);
    --lightness-switch: max(0, min(calc((var(--perceived-lightness) - var(--lightness-threshold)) * -1000), 1));
    --lighten-by: calc(((var(--lightness-threshold) - var(--perceived-lightness)) * 100) * var(--lightness-switch));
  }

  .rgb-hsl-default {
    --label-r: 191;
    --label-g: 212;
    --label-b: 242;
    --label-h: 215;
    --label-s: 66;
    --label-l: 84;
  }

  .rgb-hsl-danger {
    --label-r: 220;
    --label-g: 53;
    --label-b: 69;
    --label-h: 354;
    --label-s: 70;
    --label-l: 53;
  }

  .rgb-hsl-brand {
    --label-r: 250;
    --label-g: 84;
    --label-b: 0;
    --label-h: 20;
    --label-s: 100;
    --label-l: 49;
  }

  .rgb-hsl-primary {
    --label-r: 83;
    --label-g: 155;
    --label-b: 245;
    --label-h: 213;
    --label-s: 89;
    --label-l: 64.3;
  }

  .rgb-hsl-success {
    --label-r: 25;
    --label-g: 135;
    --label-b: 84;
    --label-h: 152;
    --label-s: 68;
    --label-l: 31;
  }

  .rgb-hsl-warning {
    --label-r: 247;
    --label-g: 223;
    --label-b: 30;
    --label-h: 53;
    --label-s: 93;
    --label-l: 54;
  }

  .rgb-hsl-muted {
    --label-r: 0;
    --label-g: 0;
    --label-b: 0;
    --label-h: 0;
    --label-s: 0;
    --label-l: 0;
  }




/////////////////////////////
// BS RGB COLOR VALUES MAP //
/////////////////////////////
  --bs-black: rgba(var(--bs-black-rgb));
  --bs-body-color: rgba(var(--bs-body-color-rgb));
  --bs-body-bg: rgba(var(--bs-body-bg-rgb));
  --bs-danger: rgba(var(--bs-danger-rgb));
  --bs-dark: rgba(var(--bs-dark-rgb));
  --bs-info: rgba(var(--bs-info-rgb));
  --bs-light: rgba(var(--bs-light-rgb));
  --bs-link-color: rgba(var(--bs-primary-rgb));
  --bs-link-hover-color: rgba(var(--bs-primary-hover-rgb));
  --bs-primary: rgba(var(--bs-primary-rgb));
  --bs-secondary: rgba(var(--bs-secondary-rgb));
  --bs-success: rgba(var(--bs-success-rgb));
  --bs-warning: rgba(var(--bs-warning-rgb));
  --bs-white: rgba(var(--bs-white-rgb));



  ////////////////
  // BS BUTTONS //
  ////////////////
  .btn-primary {
    --bs-btn-color: rgba(var(--bs-white-rgb));
    --bs-btn-bg: rgba(var(--bs-primary-rgb));
    --bs-btn-border-color: rgba(var(--bs-primary-rgb));

    --bs-btn-hover-color: rgba(var(--bs-white-rgb));
    --bs-btn-hover-bg: rgba(var(--bs-primary-hover-rgb));
    --bs-btn-hover-border-color: rgba(var(--bs-primary-hover-rgb));

    --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);

    --bs-btn-active-color: rgba(var(--bs-white-rgb));
    --bs-btn-active-bg: rgba(var(--bs-primary-hover-rgb));
    --bs-btn-active-border-color: rgba(var(--bs-primary-hover-rgb));

    --bs-btn-disabled-color: rgba(84, 84, 84);
    --bs-btn-disabled-bg: rgba(224, 224, 224);
    --bs-btn-disabled-border-color: var(--bs-btn-disabled-bg);
  }

  .btn-secondary {
    --bs-btn-color: rgba(var(--bs-secondary-rgb));
    --bs-btn-bg: rgba(var(--bs-secondary-rgb), .15);
    --bs-btn-border-color: rgba(var(--bs-secondary-rgb), .0);

    --bs-btn-hover-color: rgba(var(--bs-secondary-rgb));
    --bs-btn-hover-bg: rgba(var(--bs-secondary-rgb), .15);
    --bs-btn-hover-border-color: rgba(var(--bs-secondary-rgb), .3);

    --bs-btn-focus-shadow-rgb: rgba(var(--bs-secondary-rgb));

    --bs-btn-active-color: rgba(var(--bs-secondary-rgb));
    --bs-btn-active-bg: rgba(var(--bs-secondary-rgb), .15);
    --bs-btn-active-border-color: rgba(var(--bs-secondary-rgb), .3);

    --bs-btn-disabled-color: rgba(var(--bs-secondary-rgb), .5);
    --bs-btn-disabled-bg: rgba(var(--bs-secondary-rgb), .1);
    --bs-btn-disabled-border-color: rgba(var(--bs-secondary-rgb), .5);
  }

  .btn-danger {
    --bs-btn-color: rgba(var(--bs-white-rgb));
    --bs-btn-bg: rgba(var(--bs-danger-rgb));
    --bs-btn-border-color: rgba(var(--bs-danger-rgb));

    --bs-btn-hover-color: rgba(var(--bs-white-rgb));
    --bs-btn-hover-bg: rgba(var(--bs-danger-hover-rgb));
    --bs-btn-hover-border-color: rgba(var(--bs-danger-hover-rgb));

    --bs-btn-focus-shadow-rgb: var(--bs-danger-rgb);

    --bs-btn-active-color: rgba(var(--bs-white-rgb));
    --bs-btn-active-bg: rgba(var(--bs-danger-hover-rgb));
    --bs-btn-active-border-color: rgba(var(--bs-danger-hover-rgb));

    --bs-btn-disabled-color: rgba(var(--bs-white-rgb));
    --bs-btn-disabled-bg: rgba(var(--bs-danger-rgb));
    --bs-btn-disabled-border-color: rgba(var(--bs-danger-rgb));
  }

  .btn-closer {
    --bs-btn-color: rgba(var(--bs-white-rgb));
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;

    --bs-btn-hover-color: var(--bs-gray-100);
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: transparent;

    --bs-btn-focus-shadow-rgb: transparent;

    --bs-btn-active-color: var(--bs-gray-300);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: transparent;

    --bs-btn-disabled-color: var(--bs-gray-500);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: transparent;
  }



///////////////
// BS CUSTOM //
///////////////
  --nav-bar-height: 54px;
  --bs-border-radius: 3px;

  .badge {
    @extend .rgb-hsl-base-presets;
    @extend .rgb-hsl-colorway;

    border-width: 1px;
    border-style: solid;
  }

  .card {
    --bs-card-spacer-x: 0.75rem;
  }

  .card-header {
    --bs-card-cap-padding-x: var(--bs-card-spacer-x);
  }

  .carousel-item {
    transition: transform .2s ease-in-out;
  }

  .dropdown-menu {
    --bs-dropdown-item-padding-x: .5rem;
    --bs-dropdown-item-padding-y: .5rem;
    --bs-dropdown-padding-x: .5rem;
    --bs-dropdown-padding-y: .5rem;
  }

  .spree-logo a {
    color: var(--sa-logo);
  }

  g-table {
    --gridtable-color: #{$table-color};
    --gridtable-bg: #{$table-bg};
    --gridtable-border-color: #{$table-border-color};
    --gridtable-accent-bg: #{$table-accent-bg};
    --gridtable-active-color: #{$table-active-color};
    --gridtable-active-bg: #{$table-active-bg};
    --gridtable-hover-color: #{$table-hover-color};
    --gridtable-hover-bg: #{$table-hover-bg};
    --gridtable-cell-padding-x: #{$table-cell-padding-x};
    --gridtable-cell-padding-y: #{$table-cell-padding-y};

    g-tr>a {
      text-decoration: none;
    }
  }

  g-thead {
    @extend .text-muted;
  }

  .modal {
    --bs-modal-footer-gap: 0.5rem;
  }

  .offcanvas {
    --bs-offcanvas-height: 90vh;
  }

  // Universal disabled on link or button element
  // All disabled buttons might as well look the same.
  .btn[disabled],
  a.disabled {
    pointer-events: none;
  }

  .card {
    margin-bottom: 1rem !important;
    box-shadow: 0 0 0.3125rem #1718180d, 0 0.0625rem 0.125rem #00000026;

    .no_shadow_if_nested {
      box-shadow: none !important;
    }
  }

  .dashed-card,
  .card-body>.card {
    border-style: dashed !important;
    border-width: 1px !important;
    border-color: var(--bs-gray-500) !important;
    box-shadow: none;
  }

  .sub-card {
    background-color: var(--bs-gray-100);
  }

  .card-title {
    margin-bottom: 0;
  }

  .card-header {
    background-color: inherit;
    border-bottom: none;
    min-height: 47px;
  }

  .card-body {
    padding-top: .5rem;
  }

  .card-footer {
    background-color: inherit;
    border-top: none;
  }

  @keyframes fadeOutDownAlert {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      transform: translate3d(0, 500px, 0);
    }
  }

  .animate__fadeInUp.hide {
    animation-name: fadeOutDownAlert;
    display: block !important;
    bottom: 0;
    margin-bottom: 0 !important;
  }

  table.table tr:last-child td {
    border-bottom: none;
  }

  .shim-bottom {
    margin-bottom: 2px;
  }

  .bs-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    background-color: var(--bd-callout-bg, var(--bs-gray-100));
    border-left: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300));
  }

  .callout-info {
    --bd-callout-bg: rgba(var(--bs-info-rgb), .075);
    --bd-callout-border: rgba(var(--bs-info-rgb), .5);
  }

  .toast {
    --bs-toast-font-size: 0.95rem
  }

  .toast.success,
  .toast.notice {
    --bs-toast-bg: rgba(0, 0, 0);
    --bs-toast-color: rgba(255, 255, 255);
    --bs-toast-border-color: rgba(0, 0, 0);
  }

  .toast.error {
    --bs-toast-bg: rgba(var(--bs-danger-rgb));
    --bs-toast-color: rgba(var(--bs-white-rgb));
    --bs-toast-border-color: rgba(var(--bs-danger-rgb));
  }

  .card .border-adaptive-to-card {
    border-color: #ccc !important;
  }
}
