///////////////
// DARK MODE //
///////////////
@media (prefers-color-scheme: dark) {
  :root body.admin {
    * {
      --perceived-lightness:  calc( ((var(--label-r) * 0.2126) + (var(--label-g) * 0.7152) + (var(--label-b) * 0.0722)) / 255 );
      --lightness-switch:     max(0, min(calc((var(--perceived-lightness) - var(--lightness-threshold)) * -1000), 1));
      --lighten-by:           calc(((var(--lightness-threshold) - var(--perceived-lightness)) * 100) * var(--lightness-switch));
    }

////////////////
// RGB VALUES //
////////////////
    --#{$prefix}brand-color-rgb:        250, 84, 0;

    --#{$prefix}black-rgb:              0, 0, 0;
    --#{$prefix}white-rgb:              255, 255, 255;

    // Primary
    --#{$prefix}primary-rgb:            83, 155, 245;
    --#{$prefix}primary-hover-rgb:      var(--#{$prefix}primary-rgb);

   // Secondary
    --#{$prefix}secondary-rgb:          55, 62, 71;
    --#{$prefix}secondary-hover-rgb:    68, 76, 86;

    // Danger
    --#{$prefix}danger-rgb:             255, 0, 24;
    --#{$prefix}danger-hover-rgb:       255, 0, 24;

    // Body
    --#{$prefix}body-color-rgb:         207, 207, 207;
    --#{$prefix}body-bg-rgb:            28, 33, 40;

    // Sub Colors, used for Cards
    --#{$prefix}sub-bg-rgb:             34, 39, 46;
    --#{$prefix}sub-border-rgb:         68, 76, 86;
    --#{$prefix}sub-color-rgb:          34, 39, 46;

    // Input
    --#{$prefix}input-bg-rgb:           28, 33, 40;
    --#{$prefix}input-border-rgb:       68, 76, 86;
    --#{$prefix}input-color-rgb:        255, 255, 255;

    --#{$prefix}input-focus-border-rgb: 83, 155, 245;


////////////////
// POLYFILL   //
////////////////

    // Converting RGB values colors where appropriate
    --#{$prefix}gradient:                    linear-gradient(180deg, rgba(var(--#{$prefix}body-color-rgb), 0.15), rgba(var(--#{$prefix}body-color-rgb), 0));

    --#{$prefix}border-color:                rgba(var(--#{$prefix}secondary-rgb));
    --#{$prefix}border-color-translucent:    rgba(var(--#{$prefix}black-rgb), 0.175);

    --#{$prefix}link-color:                  rgba(var(--#{$prefix}primary-rgb));
    --#{$prefix}link-hover-color:            rgba(var(--#{$prefix}primary-hover-rgb));

    --sa-logo:                               rgba(var(--#{$prefix}brand-color-rgb));
    --sa-navbar-bg:                          rgba(var(--#{$prefix}body-bg-rgb));
    --sa-sidebar-bg:                         rgba(var(--#{$prefix}body-bg-rgb));


///////////////////
// UI COMPONENTS //
///////////////////
    .btn-primary {
      --#{$prefix}btn-color:                 rgba(var(--#{$prefix}primary-rgb), 0.9);
      --#{$prefix}btn-bg:                    rgba(var(--#{$prefix}primary-rgb), .06);
      --#{$prefix}btn-border-color:          rgba(var(--#{$prefix}primary-rgb), 0.9);

      --#{$prefix}btn-hover-color:           rgba(var(--#{$prefix}primary-rgb), 1);
      --#{$prefix}btn-hover-bg:              rgba(var(--#{$prefix}primary-rgb), .13);
      --#{$prefix}btn-hover-border-color:    rgba(var(--#{$prefix}primary-rgb));

      --#{$prefix}btn-focus-shadow-rgb:      var(--#{$prefix}primary-bg-rgb);

      --#{$prefix}btn-active-color:          rgba(var(--#{$prefix}gray-100));
      --#{$prefix}btn-active-bg:             rgba(var(--#{$prefix}primary-rgb), .5);
      --#{$prefix}btn-active-border-color:   rgba(var(--#{$prefix}primary-hover-rgb));

      --#{$prefix}btn-disabled-color:        rgba(var(--#{$prefix}primary-rgb), 0.4);
      --#{$prefix}btn-disabled-bg:           rgba(var(--#{$prefix}primary-rgb), 0);
      --#{$prefix}btn-disabled-border-color: rgba(var(--#{$prefix}primary-rgb), 0.4);
    }

    .btn-secondary {
      --#{$prefix}btn-color:                 var(--#{$prefix}gray-500);
      --#{$prefix}btn-bg:                    rgba(var(--#{$prefix}secondary-rgb), .1);
      --#{$prefix}btn-border-color:          rgba(var(--#{$prefix}secondary-rgb));

      --#{$prefix}btn-hover-color:           rgba(var(--#{$prefix}gray-300));
      --#{$prefix}btn-hover-bg:              rgba(var(--#{$prefix}secondary-rgb), .2);
      --#{$prefix}btn-hover-border-color:    rgba(var(--#{$prefix}secondary-hover-rgb));

      --#{$prefix}btn-focus-shadow-rgb:      var(--#{$prefix}secondary-bg-rgb);

      --#{$prefix}btn-active-color:          rgba(var(--#{$prefix}gray-100));
      --#{$prefix}btn-active-bg:             rgba(var(--#{$prefix}secondary-rgb), .5);
      --#{$prefix}btn-active-border-color:   rgba(var(--#{$prefix}secondary-hover-rgb));

      --#{$prefix}btn-disabled-color:        var(--#{$prefix}gray-700);
      --#{$prefix}btn-disabled-bg:           rgba(var(--#{$prefix}secondary-rgb), 0);
      --#{$prefix}btn-disabled-border-color: rgba(var(--#{$prefix}secondary-rgb));
      --#{$prefix}btn-disabled-opacity:      1;
    }

    .btn-danger {
      --#{$prefix}btn-color:                 rgba(var(--#{$prefix}danger-rgb), 0.6);
      --#{$prefix}btn-bg:                    rgba(var(--#{$prefix}danger-rgb), .06);
      --#{$prefix}btn-border-color:          rgba(var(--#{$prefix}danger-rgb), 0.6);

      --#{$prefix}btn-hover-color:           rgba(var(--#{$prefix}danger-rgb), 1);
      --#{$prefix}btn-hover-bg:              rgba(var(--#{$prefix}danger-rgb), .13);
      --#{$prefix}btn-hover-border-color:    rgba(var(--#{$prefix}danger-rgb));

      --#{$prefix}btn-focus-shadow-rgb:      var(--#{$prefix}danger-bg-rgb);

      --#{$prefix}btn-active-color:          rgba(var(--#{$prefix}gray-100));
      --#{$prefix}btn-active-bg:             rgba(var(--#{$prefix}danger-rgb), .5);
      --#{$prefix}btn-active-border-color:   rgba(var(--#{$prefix}danger-hover-rgb));

      --#{$prefix}btn-disabled-color:        rgba(var(--#{$prefix}dark-rgb));
      --#{$prefix}btn-disabled-bg:           rgba(var(--#{$prefix}danger-rgb));
      --#{$prefix}btn-disabled-border-color: rgba(var(--#{$prefix}danger-rgb));
    }

    .accordion {
      --#{$prefix}accordion-color:        rgba(var(--#{$prefix}body-color-rgb));
      --#{$prefix}accordion-bg:           rgba(var(--#{$prefix}body-bg-rgb));
      --#{$prefix}accordion-active-color: rgba(var(--#{$prefix}primary-rgb));
      --#{$prefix}accordion-btn-color:    rgba(var(--#{$prefix}body-color-rgb));
      --#{$prefix}accordion-active-bg:    rgba(var(--#{$prefix}sub-bg-rgb));

      &-button {
        &:after {
          background-image: url("data:image/svg+xml; charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='currentColor' %3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
        }
        &:not(.collapsed):after{
          background-image: url("data:image/svg+xml; charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='currentColor' %3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
        }
      }
    }

    .btn-closer {
      --#{$prefix}btn-color:                 var(--#{$prefix}gray-100);
      --#{$prefix}btn-bg:                    transparent;
      --#{$prefix}btn-border-color:          transparent;

      --#{$prefix}btn-hover-color:           var(--#{$prefix}gray-300);
      --#{$prefix}btn-hover-bg:              transparent;
      --#{$prefix}btn-hover-border-color:    transparent;

      --#{$prefix}btn-focus-shadow-rgb:      transparent;

      --#{$prefix}btn-active-color:          var(--#{$prefix}gray-300);
      --#{$prefix}btn-active-bg:             transparent;
      --#{$prefix}btn-active-border-color:   transparent;

      --#{$prefix}btn-disabled-color:        var(--#{$prefix}gray-500);
      --#{$prefix}btn-disabled-bg:           transparent;
      --#{$prefix}btn-disabled-border-color: transparent;
    }

    .badge.danger {
      --label-r: 220;
      --label-g: 53;
      --label-b: 69;
      --label-h: 354;
      --label-s: 70;
      --label-l: 53;
    }

    .badge.brand {
      --label-r: 250;
      --label-g: 84;
      --label-b: 0;
      --label-h: 20;
      --label-s: 100;
      --label-l: 49;
    }

    .badge.primary {
      --label-r: 83;
      --label-g: 155;
      --label-b: 245;
      --label-h: 213;
      --label-s: 89;
      --label-l: 64.3;
    }

    .badge.info {
      --label-r: 83;
      --label-g: 155;
      --label-b: 245;
      --label-h: 213;
      --label-s: 89;
      --label-l: 64.3;
    }

    .badge.success {
      --label-r: 25;
      --label-g: 135;
      --label-b: 84;
      --label-h: 152;
      --label-s: 68;
      --label-l: 31;
    }

    .badge.warning {
      --label-r: 247;
      --label-g: 223;
      --label-b: 30;
      --label-h: 53;
      --label-s: 93;
      --label-l: 54;
    }

    .badge.normal {
      --label-r: 191;
      --label-g: 212;
      --label-b: 242;
      --label-h: 215;
      --label-s: 66;
      --label-l: 84;
    }

    .badge.muted {
      --label-r: 0;
      --label-g: 0;
      --label-b: 0;
      --label-h: 0;
      --label-s: 0;
      --label-l: 0;
    }

    .badge {
      --lightness-threshold:  0.6;
      --background-alpha:     0.18;
      --border-alpha:         0.3;
    }

    .card {
      --#{$prefix}card-bg: rgba(var(--#{$prefix}sub-bg-rgb));
      --#{$prefix}card-border-color: rgba(var(--#{$prefix}sub-border-rgb));
    }

    .dropdown{
      &-menu {
        --bs-dropdown-bg: rgba(var(--#{$prefix}sub-bg-rgb));
        --bs-dropdown-border-color: rgba(var(--#{$prefix}sub-border-rgb));
      }
      &-item {
        --bs-dropdown-link-color: rgba(var(--#{$prefix}body-color-rgb));

        &:hover {
          background-color: rgba(var(--#{$prefix}body-bg-rgb));
          color: rgba(var(--#{$prefix}body-color-rgb));
        }
      }
    }

    .form-control,
    .form-select,
    .form-check-input {
      background-color: rgba(var(--#{$prefix}input-bg-rgb));
      border-color: rgba(var(--#{$prefix}input-border-rgb));
      color: rgba(var(--#{$prefix}input-color-rgb));

      &:focus-visible,
      &:focus,
      &:checked,
      &:has( > div.ProseMirror:focus) {
        border-color: rgba(var(--#{$prefix}input-focus-border-rgb));
        box-shadow: inset 0 0 0 1px rgba(var(--#{$prefix}input-focus-border-rgb));
      }
    }

    .plugin-dropdown_input.focus .ts-dropdown .dropdown-input {
      color: white;
      border-color: rgba(var(--#{$prefix}input-focus-border-rgb));
      box-shadow: inset 0 0 0 1px rgba(var(--#{$prefix}input-focus-border-rgb));
    }

    .input-group-text {
      background-color: rgba(var(--#{$prefix}input-bg-rgb));
      border-color: rgba(var(--#{$prefix}input-border-rgb));
      color: rgba(var(--#{$prefix}input-color-rgb));
    }

    .list-group {
      background-color: rgba(var(--#{$prefix}body-bg-rgb));
    }

    .list-group-item {
      background-color: rgba(var(--#{$prefix}body-bg-rgb));
    }

    .modal-content {
      background-color: rgba(var(--#{$prefix}sub-bg-rgb));
      border-color: rgba(var(--#{$prefix}sub-border-rgb));
    }

    .modal-backdrop.show {
      --bs-backdrop-opacity: 0.75;
    }

    .offcanvas {
      --#{$prefix}offcanvas-bg: rgba(var(--#{$prefix}body-bg-rgb));
    }

    .toast.success,
    .toast.notice {
      --bs-toast-bg:            rgba(59, 65, 75);
      --bs-toast-color:         rgba(191, 209, 238);
      --bs-toast-border-color:  rgba(99, 109, 124);
    }

    .toast.error {
      --bs-toast-bg:            rgba(var(--#{$prefix}danger-rgb), .75);
      --bs-toast-color:         rgba(var(--#{$prefix}white-rgb));
      --bs-toast-border-color:  rgba(var(--#{$prefix}danger-rgb));
    }

    aside#main-sidebar {
      li.selected {
        background-color: rgba(var(--#{$prefix}primary-rgb), .04);
      }
    }
  }
}
