///////////////
// DARK MODE //
///////////////
@media (prefers-color-scheme: dark) {
  :root body.admin {

////////////////
// RGB VALUES //
////////////////
    --#{$prefix}black-rgb:              0, 0, 0;
    --#{$prefix}white-rgb:              255, 255, 255;

    // Primary color: rgb(250, 84, 0);
    --#{$prefix}primary-rgb:            250, 84, 0;
    --#{$prefix}primary-hover-rgb:      var(--#{$prefix}primary-rgb);

   // Secondary
    --#{$prefix}secondary-rgb:          55, 62, 71;
    --#{$prefix}secondary-hover-rgb:    68, 76, 86;

    // Danger
    --#{$prefix}danger-rgb:             255, 0, 24;
    --#{$prefix}danger-hover-rgb:       255, 0, 24;

    // Body
    --#{$prefix}body-color-rgb:         207, 207, 207;
    --#{$prefix}body-bg-rgb:            28, 33, 40;

    // Sub Colors, used for Cards
    --#{$prefix}sub-bg-rgb:             34, 39, 46;
    --#{$prefix}sub-border-rgb:         68, 76, 86;
    --#{$prefix}sub-color-rgb:          34, 39, 46;

    // Input
    --#{$prefix}input-bg-rgb:           28, 33, 40;
    --#{$prefix}input-border-rgb:       68, 76, 86;
    --#{$prefix}input-color-rgb:        255, 255, 255;

    --#{$prefix}input-focus-border-rgb: 83, 155, 245;



////////////////
// POLYFILL   //
////////////////

    // Converting RGB values colors where appropriate
    --#{$prefix}gradient:                    linear-gradient(180deg, rgba(var(--#{$prefix}body-color-rgb), 0.15), rgba(var(--#{$prefix}body-color-rgb), 0));

    --#{$prefix}border-color:                rgba(var(--#{$prefix}secondary-rgb));
    --#{$prefix}border-color-translucent:    rgba(var(--#{$prefix}black-rgb), 0.175);

    --#{$prefix}link-color:                  rgba(var(--#{$prefix}primary-rgb));
    --#{$prefix}link-hover-color:            rgba(var(--#{$prefix}primary-hover-rgb));

    --sa-logo:                               rgba(var(--#{$prefix}primary-rgb));
    --sa-navbar-bg:                          rgba(var(--#{$prefix}body-bg-rgb));
    --sa-sidebar-bg:                         rgba(var(--#{$prefix}body-bg-rgb));


///////////////////
// UI COMPONENTS //
///////////////////

    .btn-primary {
      --#{$prefix}btn-color:                 rgba(var(--#{$prefix}primary-rgb), 0.9);
      --#{$prefix}btn-bg:                    rgba(var(--#{$prefix}primary-rgb), .06);
      --#{$prefix}btn-border-color:          rgba(var(--#{$prefix}primary-rgb), 0.9);

      --#{$prefix}btn-hover-color:           rgba(var(--#{$prefix}primary-rgb), 1);
      --#{$prefix}btn-hover-bg:              rgba(var(--#{$prefix}primary-rgb), .13);
      --#{$prefix}btn-hover-border-color:    rgba(var(--#{$prefix}primary-rgb));

      --#{$prefix}btn-focus-shadow-rgb:      var(--#{$prefix}primary-bg-rgb);

      --#{$prefix}btn-active-color:          rgba(var(--#{$prefix}gray-100));
      --#{$prefix}btn-active-bg:             rgba(var(--#{$prefix}primary-rgb), .5);
      --#{$prefix}btn-active-border-color:   rgba(var(--#{$prefix}primary-hover-rgb));

      --#{$prefix}btn-disabled-color:        rgba(var(--#{$prefix}dark-rgb));
      --#{$prefix}btn-disabled-bg:           rgba(var(--#{$prefix}primary-rgb));
      --#{$prefix}btn-disabled-border-color: rgba(var(--#{$prefix}primary-rgb));
    }

    .btn-secondary {
      --#{$prefix}btn-color:                 var(--#{$prefix}gray-500);
      --#{$prefix}btn-bg:                    rgba(var(--#{$prefix}secondary-rgb), .1);
      --#{$prefix}btn-border-color:          rgba(var(--#{$prefix}secondary-rgb));

      --#{$prefix}btn-hover-color:           rgba(var(--#{$prefix}gray-300));
      --#{$prefix}btn-hover-bg:              rgba(var(--#{$prefix}secondary-rgb), .2);
      --#{$prefix}btn-hover-border-color:    rgba(var(--#{$prefix}secondary-hover-rgb));

      --#{$prefix}btn-focus-shadow-rgb:      var(--#{$prefix}secondary-bg-rgb);

      --#{$prefix}btn-active-color:          rgba(var(--#{$prefix}gray-100));
      --#{$prefix}btn-active-bg:             rgba(var(--#{$prefix}secondary-rgb), .5);
      --#{$prefix}btn-active-border-color:   rgba(var(--#{$prefix}secondary-hover-rgb));

      --#{$prefix}btn-disabled-color:        rgba(var(--#{$prefix}dark-rgb));
      --#{$prefix}btn-disabled-bg:           rgba(var(--#{$prefix}secondary-rgb));
      --#{$prefix}btn-disabled-border-color: rgba(var(--#{$prefix}secondary-rgb));
    }

    .btn-danger {
      --#{$prefix}btn-color:                 rgba(var(--#{$prefix}danger-rgb), 0.6);
      --#{$prefix}btn-bg:                    rgba(var(--#{$prefix}danger-rgb), .06);
      --#{$prefix}btn-border-color:          rgba(var(--#{$prefix}danger-rgb), 0.6);

      --#{$prefix}btn-hover-color:           rgba(var(--#{$prefix}danger-rgb), 1);
      --#{$prefix}btn-hover-bg:              rgba(var(--#{$prefix}danger-rgb), .13);
      --#{$prefix}btn-hover-border-color:    rgba(var(--#{$prefix}danger-rgb));

      --#{$prefix}btn-focus-shadow-rgb:      var(--#{$prefix}danger-bg-rgb);

      --#{$prefix}btn-active-color:          rgba(var(--#{$prefix}gray-100));
      --#{$prefix}btn-active-bg:             rgba(var(--#{$prefix}danger-rgb), .5);
      --#{$prefix}btn-active-border-color:   rgba(var(--#{$prefix}danger-hover-rgb));

      --#{$prefix}btn-disabled-color:        rgba(var(--#{$prefix}dark-rgb));
      --#{$prefix}btn-disabled-bg:           rgba(var(--#{$prefix}danger-rgb));
      --#{$prefix}btn-disabled-border-color: rgba(var(--#{$prefix}danger-rgb));
    }

    .card {
      --#{$prefix}card-bg:                   rgba(var(--#{$prefix}sub-bg-rgb));
      --#{$prefix}card-border-color:         rgba(var(--#{$prefix}sub-border-rgb));
    }

    .offcanvas {
      --#{$prefix}offcanvas-bg:              rgba(var(--#{$prefix}body-bg-rgb));
    }

    .list-group {
      background-color:                      rgba(var(--#{$prefix}body-bg-rgb));
    }

    .list-group-item {
      background-color:                      rgba(var(--#{$prefix}body-bg-rgb));
    }

    .form-control,
    .form-select,
    .form-check-input {
      background-color:                      rgba(var(--#{$prefix}input-bg-rgb));
      border-color:                          rgba(var(--#{$prefix}input-border-rgb));
      color:                                 rgba(var(--#{$prefix}input-color-rgb));

      &:focus-visible,
      &:focus,
      &:checked,
      &:has( > div.ProseMirror:focus) {
        border-color:                        rgba(var(--#{$prefix}input-focus-border-rgb));
        box-shadow: inset 0 0 0 1px          rgba(var(--#{$prefix}input-focus-border-rgb));
      }
    }

    .input-group-text {
      background-color:                      rgba(var(--#{$prefix}input-bg-rgb));
      border-color:                          rgba(var(--#{$prefix}input-border-rgb));
      color:                                 rgba(var(--#{$prefix}input-color-rgb));
    }

    aside#main-sidebar {
      li.selected {
        background-color:                    rgba(var(--#{$prefix}primary-rgb), .04);
      }
    }
  }
}
