table-responsive {
  display: block;
  @extend .table-responsive;
}

g-table {
  --#{$prefix}table-color: #{$table-color};
  --#{$prefix}table-bg: #{$table-bg};
  --#{$prefix}table-border-color: #{$table-border-color};
  --#{$prefix}table-accent-bg: #{$table-accent-bg};
  --#{$prefix}table-striped-color: #{$table-striped-color};
  --#{$prefix}table-striped-bg: #{$table-striped-bg};
  --#{$prefix}table-active-color: #{$table-active-color};
  --#{$prefix}table-active-bg: #{$table-active-bg};
  --#{$prefix}table-hover-color: #{$table-hover-color};
  --#{$prefix}table-hover-bg: #{$table-hover-bg};

  color: var(--#{$prefix}table-color);
  border-color: var(--#{$prefix}table-border-color);
  border-style: solid;
  border-width: 0;

  display: block;
  padding: 0;
  margin: 0;
  min-width: max-content;
}

g-thead,
g-tbody,
g-tfoot,
g-tr,
g-td,
g-th {
  border-color: var(--#{$prefix}table-border-color);
  border-style: solid;
  border-width: 0;
}

g-tr {
  border-width: 0;
  --bs-gap: 0rem;
  @extend .grid;
  border-bottom-width: 1px;
}

g-th {
  font-weight: bold;
}

g-th,
g-td {
  display: flex;
  overflow: hidden;
  align-items: center;

  padding: $table-cell-padding-y $table-cell-padding-x;
  background-color: var(--#{$prefix}table-bg);
}


// Border versions
//
// Add or remove borders all around the table and between all the columns.
//
// When borders are added on all sides of the cells, the corners can render odd when
// these borders do not have the same color or if they are semi-transparent.
// Therefore we add top and border bottoms to the `tr`s and left and right borders
// to the `td`s or `th`s

.g-table-bordered {
  border-width: $table-border-width;

  g-td,
  g-th {
    border-left-width: $table-border-width;
  }

  g-td:first-of-type,
  g-th:first-of-type {
    border-left-width: 0;
  }
}

.g-table-borderless {
  g-td {
    border-width: 0;
  }

  g-tr {
    border-width: 0;
  }
}

// Active table
//
// The `.table-active` class can be added to highlight rows or cells

.table-active {
  background-color: var(--#{$prefix}table-active-bg);
  color: var(--#{$prefix}table-active-color);
}


// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  g-tr:hover > * {
    background-color: var(--#{$prefix}table-hover-bg);
    color: var(--#{$prefix}table-hover-color);
  }
}
