:root body.admin {
  ////////////////////////////
  // RGB + HLS COLOR VALUES //
  ////////////////////////////
  // https://convertacolor.com


  ///////////
  // light //
  ///////////
  --bs-light-rgb: 241, 241, 241;
  .rgb-hsl-light {
    // rgb(241, 241, 241)
    --label-r: 241;
    --label-g: 241;
    --label-b: 241;

    // hsl(0, 0%, 94.5%)
    --label-h: 0;
    --label-s: 0;
    --label-l: 94.5;
  }

  ///////////
  // dark //
  ///////////
  --bs-dark-rgb: 33, 37, 41;
  .rgb-hsl-dark {
    // rgb(241, 241, 241)
    --label-r: 241;
    --label-g: 241;
    --label-b: 241;

    // hsl(0, 0%, 94.5%)
    --label-h: 0;
    --label-s: 0;
    --label-l: 94.5;
  }

  //////////
  // info //
  //////////
  --bs-info-rgb: 13, 202, 240;
  .rgb-hsl-info {
    // rgb(13, 202, 240)
    --label-r: 13;
    --label-g: 202;
    --label-b: 240;

    // hsl(190, 89.7%, 49.6%)
    --label-h: 190;
    --label-s: 89.7;
    --label-l: 49.6;
  }

  ////////////
  // danger //
  ////////////
  --bs-danger-rgb: 152, 27, 39;
  .rgb-hsl-danger {
    // rgb(152, 27, 39)
    --label-r: 152;
    --label-g: 27;
    --label-b: 39;

    // hsl(354.2,69.8%,35.1%)
    --label-h: 354.2;
    --label-s: 69.8;
    --label-l: 35.1;
  }

  ///////////
  // brand //
  ///////////
  --bs-brand-rgb: 250, 84, 0;
  .rgb-hsl-brand {
    // rgb(250, 84, 0)
    --label-r: 250;
    --label-g: 84;
    --label-b: 0;

    // hsl(20.2, 100%, 49%)
    --label-h: 20.2;
    --label-s: 100;
    --label-l: 49;
  }

  /////////////
  // primary //
  /////////////
  --bs-primary-rgb: 13, 110, 253;
  .rgb-hsl-primary {
    // rgb(13, 110, 253)
    --label-r: 13;
    --label-g: 110;
    --label-b: 253;

    // hsl(215.8, 98.4%, 52.2%)
    --label-h: 215.8;
    --label-s: 98.4;
    --label-l: 52.2;
  }

  ///////////////
  // secondary //
  ///////////////
  --bs-secondary-rgb: 240, 242, 244;
  .rgb-hsl-secondary {
    // rgb(240,242,244)
    --label-r: 240;
    --label-g: 242;
    --label-b: 244;

    // hsl(210, 14%, 95%)
    --label-h: 210;
    --label-s: 14;
    --label-l: 95;
  }


  /////////////
  // success //
  /////////////
  --bs-success-rgb: 25, 135, 84;
  .rgb-hsl-success {
    // rgb(25, 135, 84)
    --label-r: 25;
    --label-g: 135;
    --label-b: 84;

    // hsl(152.2, 68.8%, 31.4%)
    --label-h: 152.2;
    --label-s: 68.8;
    --label-l: 31.4;
  }


  /////////////
  // warning //
  /////////////
  --bs-warning-rgb: 247, 223, 30;
  .rgb-hsl-warning {
    // rgb(247, 223, 30)
    --label-r: 247;
    --label-g: 223;
    --label-b: 30;

    // hsl(53.4, 93.1%, 54.3%)
    --label-h: 53.4;
    --label-s: 93.1;
    --label-l: 54.3;
  }

  ///////////
  // black //
  ///////////
  --bs-black-rgb: 0, 0, 0;
  .rgb-hsl-black {
    // rgb(0, 0, 0)
    --label-r: 0;
    --label-g: 0;
    --label-b: 0;

    // hsl(0, 0%, 0%)
    --label-h: 0;
    --label-s: 0;
    --label-l: 0;
  }

  ///////////
  // white //
  ///////////
  --bs-white-rgb: 255, 255, 255;
  .rgb-hsl-white {
    // rgb(255, 255, 255)
    --label-r: 255;
    --label-g: 255;
    --label-b: 255;

    // hsl(0, 0%, 100%)
    --label-h: 0;
    --label-s: 0;
    --label-l: 100;
  }


  ///////////
  // muted //
  ///////////
  --bs-muted-rgb: 0, 0, 0;
  .rgb-hsl-muted {
    // rgb(0, 0, 0)
    --label-r: 0;
    --label-g: 0;
    --label-b: 0;

    // hsl(0, 0%, 0%)
    --label-h: 0;
    --label-s: 0;
    --label-l: 0;
  }


  // This utility create colors for buttons and badges based
  // on the rgb-hsl color variables provided, it provides a
  // lightness switch similar to those found in SASS.
  //
  // You can build solid or outline stye badges and buttons by tweaking the alpha settings
  // and can adjust the threshold for buttons color to flip based on the background.
  //
  // To use extend this along with a color set to access the variables inside the class.
  //
  // .badge-success {
  //   @extend .rgb-hsl-success
  //   @extend .rgb-hsl-base-presets;
  //
  //   background-color: var(--hsla-bg);
  // }
  .rgb-hsl-base-presets {
    // Light Color Scheme
    --lightness-threshold: .456;
    --border-threshold: .96;
    --background-alpha: 1;
    --border-alpha: max(0, min(calc((var(--perceived-lightness) - var(--border-threshold)) * 100), 1));

    --perceived-lightness: calc(((var(--label-r) * 0.2126) + (var(--label-g) * 0.7152) + (var(--label-b) * 0.0722)) / 255);
    --lightness-switch: max(0, min(calc((var(--perceived-lightness) - var(--lightness-threshold)) * -1000), 1));
    --lighten-by: calc(((var(--lightness-threshold) - var(--perceived-lightness)) * 100) * var(--lightness-switch));

    --hsla-color: hsla(0deg, 0%, calc(var(--lightness-switch) * 100%));
    --hsla-bg: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * .98%), var(--background-alpha));
    --hsla-border-color: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * .98%), var(--border-alpha));

    --hsla-hover-color: hsla(0deg, 0%, calc(var(--lightness-switch) * 100%));
    --hsla-hover-bg: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * .94%), var(--background-alpha));
    --hsla-hover-border-color: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * .94%), var(--border-alpha));

    --hsla-active-color: hsla(0deg, 0%, calc(var(--lightness-switch) * 100%));
    --hsla-active-bg: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * .90%), var(--background-alpha));
    --hsla-active-border-color: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * .90%), var(--border-alpha));

    --hsla-disabled-color: hsla(0deg, 0%, calc(var(--lightness-switch) * 100%), 0.9);
    --hsla-disabled-bg: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * .98%), calc(var(--background-alpha) / 1.2));
    --hsla-disabled-border-color: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * .98%), calc(var(--border-alpha) / 1.2));
  }


  /////////////////////////
  // BS RGB COLOR VALUES //
  /////////////////////////
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 246, 246, 247;

  ///////////////////////////
  // BS RGB COLOR MAPPIING //
  ///////////////////////////
  --bs-black: rgba(var(--bs-black-rgb));
  --bs-body-color: rgba(var(--bs-body-color-rgb));
  --bs-body-bg: rgba(var(--bs-body-bg-rgb));
  --bs-danger: rgba(var(--bs-danger-rgb));
  --bs-dark: rgba(var(--bs-dark-rgb));
  --bs-info: rgba(var(--bs-info-rgb));
  --bs-light: rgba(var(--bs-light-rgb));
  --bs-link-color: rgba(var(--bs-primary-rgb));
  --bs-link-hover-color: rgba(var(--bs-primary-hover-rgb));
  --bs-primary: rgba(var(--bs-primary-rgb));
  --bs-secondary: rgba(var(--bs-secondary-rgb));
  --bs-success: rgba(var(--bs-success-rgb));
  --bs-warning: rgba(var(--bs-warning-rgb));
  --bs-white: rgba(var(--bs-white-rgb));

  // Sub Colors, used for Cards and Inputs
  --bs-sub-bg-rgb: 34, 39, 46;
  --bs-sub-border-rgb: 68, 76, 86;
  --bs-sub-color-rgb: 34, 39, 46;

  // Links
  --bs-link-color: rgba(var(--bs-primary-rgb));
  --bs-link-hover-color: rgba(var(--bs-primary-rgb), .85);

  // Input
  --bs-input-color-rgb: var(--bs-body-color-rgb);
  --bs-input-bg-rgb: var(--bs-white-rgb);
  --bs-input-border-rgb: var(--bs-secondary-rgb);
  --bs-input-focus-border-rgb: var(--bs-primary-rgb);


  //////////////////////////////////
  // SPREE ADMIN UI COLOR MAPPING //
  //////////////////////////////////

  // Logo
  --sa-logo: rgba(var(--bs-brand-rgb));

  // Top Nav Bar
  --sa-navbar-bg: rgba(var(--bs-body-bg-rgb));
  --sa-navbar-box-shadow: 0 2px 2px -2px rgba(34, 47, 62, .1), 0 8px 8px -4px rgba(34, 47, 62, .07);

  // Main Menu
  --sa-sidebar-bg: rgba(var(--bs-body-bg-rgb));
  --sa-sidebar-link-color: var(--bs-gray-600);
  --sa-sidebar-selected-link-color: rgba(var(--bs-primary-rgb));
  --sa-sidebar-selected-link-bg: rgba(var(--bs-primary-rgb), .04);
}

