<dialog id="customTurboConfirm">
  <form method="dialog" class="modal-content">
    <div class="modal-body">
      <p>Are you sure?</p>
    </div>

    <div class="modal-footer">
      <button value="cancel" class="btn btn-light">Cancel</button>
      <button value="confirm" class="btn btn-danger">Confirm</button>
    </div>
  </form>
</dialog>
