<%= turbo_frame_tag "#{plural_resource_name(@collection).downcase}-page-#{@pagy.next}", class: "text-center" do %>
  <div class="text-center position-absolute start-0 w-100">
    <% if @pagy.next %>
      <%= link_to(I18n.t("spree.admin.load_more"), pagy_url_for(@pagy, @pagy.next), data: {turbo_frame: "#{plural_resource_name(@collection).downcase}-page-#{@pagy.next}"}, class: "btn btn-outline-secondary my-2") %>
    <% else %>
      <%= link_to(I18n.t("spree.admin.all_loaded"), "#", data: {turbo_frame: "#{plural_resource_name(@collection).downcase}-page-#{@pagy.next}"}, class: "btn btn-outline-secondary my-2", disabled: true) %>
    <% end %>
  </div>
<% end %>
