<div class="form-actions" data-hook="buttons">
  <hr class="border-dark border-adaptive-to-card">
  <div class="d-flex">
    <div class="flex-fill">
      <%= yield :additional_form_buttons if content_for?(:additional_form_buttons) %>
    </div>
    <div>
      <%= button_tag(I18n.t('spree.admin.actions.save'), {data: { input__required_target: "saveButton", form_state_target: "saveButton"}, class: 'btn-primary btn'}) %>
    </div>
  </div>
</div>
