aside#main-sidebar {
  overflow-y: auto;
  background: var(--sa-sidebar-bg) !important;

  #navHeader {
    z-index: 1042;
  }

  #navFooter {
    height: var(--nav-bar-height);
  }

  #carouselMainNavigation {
    margin-bottom: var(--nav-bar-height);
    margin-top: 100px;
  }

  ul {
    &.active-option {
      .drop-menu-indicator {
        transform: rotate(90deg);
      }
    }

    >li {
      >a {
        color: var(--sa-sidebar-link-color);
        text-decoration: none;

        .drop-menu-indicator {
          right: 1rem;
        }

        &[aria-expanded='true'] {
          .drop-menu-indicator {
            transform: rotate(90deg);
            transition: 0.3s ease-in-out;
          }
        }

        &[aria-expanded='false'] {
          .drop-menu-indicator {
            transform: rotate(0deg);
            transition: 0.3s ease-in-out;
          }
        }
      }

      &.selected {
        background-color: var(--sa-sidebar-selected-link-bg);

        > a {
          color: var(--sa-sidebar-selected-link-color);
        }

        &::before {
          display: block;
          position: absolute;
          content: "";
          width: 5px;
          height: 100%;
          background-color: var(--sa-sidebar-selected-link-color);
          border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius);
          top: 0;
          left: 0;
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  aside#main-sidebar {
    width: 50%;
  }
}

@include media-breakpoint-up(lg) {
  aside#main-sidebar {
    left: 0;
    z-index: 999;
    width: 25%;
    transition: none;

    body.sidebar-open {
      aside#main-sidebar {
        left: 0;
        transition: none;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  aside#main-sidebar {
    width: 16.6667%;
  }
}
