<div class="card-body">
  <div class="alert alert-info text-center mb-0 mt-4" role="alert">
    <span><%= I18n.t('spree.dash.taxons.use_the_search_box_above_to_search_for_taxons') %></span>
  </div>
</div>
