// Bootstrap SCSS
$enable-grid-classes: true;
$enable-cssgrid: true;
$grid-gutter-width: 1rem;
$table-cell-padding-x: .75rem;
$table-cell-padding-y: .5rem;
$table-cell-vertical-align: middle;
$table-hover-bg-factor: .02;
$table-hover-color: inherit;
$border-radius: 3px;
$modal-fade-transform: translate(0, 150px);



