#image-gallery-layout {
  #layout-type {
    color: var(--bs-gray);
  }
}

#standard-page {
  .sp-pb-0 {
    padding-bottom: 0 !important;
  }

  .sp-card {
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
  }
}

[aria-expanded='false'] {
  span.more {
    display: inline;
  }

  span.less {
    display: none;
  }
}

[aria-expanded='true'] {
  span.more {
    display: none;
  }

  span.less {
    display: inline;
  }
}

button#cms-section-editor-full-screen {
  span.exit {
    display: none;
  }

  &.active {
    span.exit {
      display: inline;
    }
  }
}

#live-view-content {
  height: 100%;

  .embed-responsive {
    height: 100%;
  }
}

#draggable-sections-holder {
  max-height: 750px;
}

#cms-page-sections-area {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 100%;

  .border {
    border-color: var(--bs-border-color) !important;
  }

  // Hide scroll-bar in live preview
  // sidebar.
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

@include media-breakpoint-up(md) {
  body[data-sections-editor-full-screen] {
    .hide-on-full-screen-mode {
      display: none;
    }

    #page-sections-area {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      background: var(--bs-white);
      padding: 15px 15px 0;
      height: 100vh;

      #cms-page-sections-area {
        max-height: 90vh;
      }

      .embed-responsive-4by3 {
        height: 90vh;
      }
    }

    #draggable-sections-holder {
      max-width: 350px;
    }
  }
}

#page-live-preview {
  // transform-origin: top left; FIX MK
  background: var(--bs-gray-800);
}

.desktop-live-view {
  #page-live-preview {
    width: 200.5%;
    height: 200.5%;
    inset: 50%;
    transform: scale(0.5) translate(-50%, -50%);
    max-width: 2600px;
  }
}

.tablet-live-view {
  #page-live-preview {
    width: 85%;
    height: 133.5%;
    inset: 50%;
    transform: scale(0.75) translate(-50%, -50%);
    max-width: 991px;
    min-width: 768px;
  }
}

.mobile-live-view {
  #page-live-preview {
    width: 60%;
    height: 133.5%;
    inset: 50%;
    transform: scale(0.75) translate(-50%, -50%);
    max-width: 767px;
    min-width: 375px;
  }
}
