.actions .btn,
.page-actions .btn {
  margin: 2px;
}

.btn {
  svg {
    vertical-align: text-bottom;
    margin-bottom: 1px;
  }
}

.form-control:not(:disabled):not([readonly])::file-selector-button {
  @extend .btn-secondary;

  margin-top: -6px;
  padding-bottom: 0;
  padding-top: 0;
  height: 54px;
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
}

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  @extend .btn-secondary;

  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
}

.show-active-bar button,
.show-active-bar a {
  border: 0 !important;
  position: relative;
  background: transparent !important;
  color: var(--bs-dark);
  padding: 0.75rem;
  text-decoration: none;

  &.active::before {
    content: '';
    height: 4px;
    width: 100%;
    background: var(--bs-primary);
    position: absolute;
    left: 0;
    bottom: -1px;
  }
}
