.actions .btn,
.page-actions .btn {
  margin: 2px;
}

.btn {
  svg {
    vertical-align: text-bottom;
    margin-bottom: 1px;
  }
}


input[type="file"]::file-selector-button {
  margin-top: 0.1rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent !important;
}

.show-active-bar button,
.show-active-bar a {
  border: 0 !important;
  position: relative;
  background: transparent !important;
  color: var(--bs-dark);
  padding: 0.75rem;
  text-decoration: none;

  &.active::before {
    content: '';
    height: 4px;
    width: 100%;
    background: var(--bs-primary);
    position: absolute;
    left: 0;
    bottom: -1px;
  }
}
