#logo {
  width: auto;
  height: 36px;
}

label {
  margin-bottom: 3px;
}

#contentBody {
  margin-top: 75px;
}

#multi-backdrop {
  z-index: 0;
  height: 0;
  width: 0;
}

#mobileButtons {
  z-index: 1000;
}

body.modal-open #multi-backdrop {
  z-index: 1040;
  width: 100vw;
  height: 100vh;
}

.sort-handle {
  cursor: grab;
}

.no-wrap {
  white-space: nowrap;
}

.card-body {
  padding: 0.75rem;
}

@include media-breakpoint-up(sm) {
  .card-body {
    padding: 1.25rem;
  }
}

.rounded-bottom-only {
  border-radius: 0 0 var(--bs-border-radius) var(--bs-border-radius);
}

.rounded-top-only {
  border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
}

.alert {
  border: 0 none !important;
}
