table.table {
  &:last-child {
    margin-bottom: 0;
  }
}

table > thead {
  @extend .text-muted;
}

/* Apply a default padding if legacy cell padding attribute is missing */
table:not([cellpadding]) th,
table:not([cellpadding]) td {
   padding: $table-cell-padding-y $table-cell-padding-x;
}

.sort_link {
  text-decoration: none;
}

.ransack-filter-arrow {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.filters-in-use-container {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: var(--bs-white)
    }
  }
}

g-table {
  overflow: hidden;
}
